*{
    margin:0;
}

body{
    display:grid;
    grid-template-areas: 
                        'banner banner'
                        'vantagens vantagens'
                        'inscreva video'
                        'frase frase'
                        'pessoas pessoas'
                        'rede rede'
                        'footer footer';
    grid-template-rows: 500px 300px 300px 150px 100px 200px;
    grid-template-columns: 50vw 50vw;
}


#banner{
    grid-area: banner;
    background-image: url("img/banner.png");
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#banner h1{
    font-family:Pacifico; 
    font-size: 40pt;
    color: white;
}

#vantagens{
    grid-area: vantagens;
    background-color: blue;
}
#inscreva{
    grid-area:inscreva;
    background-color:yellow;
}
#video{
    grid-area: video;
    background-color: green;
}

#frase {
    grid-area: frase;
    background-color: pink;
}

#pessoas{
    grid-area: pessoas;
    background-color: purple;

}

#rede{
    grid-area: rede;
    background-color: grey;
}

footer{
    grid-area: footer;
    background-color: olive;
}

