

body{
    margin:0;
    display:grid;
    grid-template-areas: 
                        'banner banner'
                        'vantagens vantagens'
                        'inscreva video'
                        'frase frase'
                        'pessoas pessoas'
                        'rede rede'
                        'footer footer';
    grid-template-rows: 500px 300px 300px 150px 100px 200px;
    grid-template-columns: 50vw 50vw;
}


#banner{
    grid-area: banner;
    background-image: url("img/banner.png");
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
#banner h1{
    font-family:Pacifico; 
    font-size: 40pt;
    color: white;
    margin: 0;
    font-weight: 100;
}

#imgban{
    width: 120px;
    display:flex;
    justify-content: space-between;

}

#imgban img{
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    opacity: 0.7;
    
}

#imgban img:hover{
    background-color: #2bce70;
    cursor: pointer;
}

#vantagens{
    grid-area: vantagens;
    background-color: white;
}
#inscreva{
    grid-area:inscreva;
    background-color:yellow;
}
#video{
    grid-area: video;
    background-color: green;
}

#frase {
    grid-area: frase;
    background-color: pink;
}

#pessoas{
    grid-area: pessoas;
    background-color: purple;

}

#rede{
    grid-area: rede;
    background-color: grey;
}

footer{
    grid-area: footer;
    background-color: olive;
}

